@{
    ViewData["Title"] = "About Us";
}
<h2>@ViewData["Title"]</h2>

<p> <strong>Boardwalk Cafe</strong> was established in 2019. Our passion lies in the search for aromatic and exotic beverages that brighten your mood, and tasty and memorable treats to uplift your day. It has been an exciting and exhilarating journey for us while exploring every corner of the world, meeting people from all walks of life and being granted the privilege to discover the secrets of inspiriting gastronomic art. 
</p>
<p> Our goal is to take you on the voyage of a lifetime, sharing our ascending spiritual alchemy of delicacies. We invite you to utilize our <strong>Coffee Shop App</strong> to break free from the ordinary latte and wander into a parallel dimension. 
</p>

